*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aqua;
    outline: none;
}

span{
    color: tomato;
}